[General]
current=
latitude=
longitude=
notify=0
schedule=0
schedule-type=time
start-hidden=0
time-dark=
time-light=

[ColorScheme]
dark=
enabled=false
light=

[GTKTheme]
dark=
enabled=false
light=

[IconTheme]
dark=
enabled=false
light=

[KonsoleProfile]
dark=
enabled=false
light=

[KvantumStyle]
dark=
enabled=false
light=

[PlasmaStyle]
dark=
enabled=false
light=

[Script]
dark=
enabled=false
light=

[Wallpaper]
dark=
enabled=false
light=
